* {
	border-radius:20px;
	color:black;
	
}
body {
	background-color:purple;
}

.op{
	width: 90px;
	height:70px;
}

.calc{
			border: 20px solid black;
			width: 375px;
			height:490px;
			margin: auto;
			background-color:tan;
			text-align: center;
}	
#display {
	
	width: 360px;
	height:90px;
	margin-top:30px;
	Background-color:opaqe;
	
}
/** cross check the hover */
.op:hover { 
    background-color: yellow;
}